{{- define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end -}}

{{- define "content" -}}
    {{- $params := .Scratch.Get "params" -}}
    <div class="page single special editorial-page page-{{ .Title | urlize }}">
        {{- if ne .RelPermalink "/blog/" }}
        <div class="editorial-heading">
            {{- with .Params.kicker }}<p class="editorial-kicker">{{ . }}</p>{{ end -}}
            <h1 class="single-title">{{ .Title }}</h1>
            {{- with .Params.deck }}<p class="editorial-deck">{{ . }}</p>{{ end -}}
        </div>
        {{- end }}
        <div class="content" id="content">
            {{- dict "Content" .Content "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
        </div>
        {{- partial "comment.html" . -}}
    </div>
{{- end -}}
