{{ $json := .Get "json" }}
{{ $height := .Get "height" | default "200px" }}
{{ $plotID := printf "plotly-%s" (md5 $json) }}
<div id="{{ $plotID }}" class="plotly" style="height:{{ $height }}"></div>
<script>
fetch({{ $json }}, { cache: "no-cache" })
    .then(function(response) {
        if (!response.ok) {
            throw new Error("Unable to load Plotly figure: " + response.status);
        }
        return response.json();
    })
    .then(function(figure) {
        return Plotly.newPlot({{ $plotID }}, figure.data, figure.layout, { responsive: true });
    })
    .catch(function(error) {
        console.error("Failed to render Plotly figure from {{ $json }}", error);
    });
</script>
